<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.evolve.ornateresidency">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MaterialTheme.Base">
        <activity android:name=".Activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".Reciever.SmsReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name=".Activities.LandingActivity" />
        <activity android:name=".Activities.ListYourPlaceActivity" />
        <activity android:name=".Activities.FeedBackActivity" />
        <activity android:name=".Activities.MyAccountActivity" />
        <activity android:name=".Activities.SearchActivity" />
        <activity android:name=".Activities.MobileInput"
            android:windowSoftInputMode="stateAlwaysVisible"
            android:theme="@style/MaterialTheme.Default"></activity>
    </application>

</manifest>